* {
    text-decoration: none;
    font-family: "Play", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('abstraktnyi-dizain-fona-s-plavnye-linii.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

nav > .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav > .links {
    padding: 20px;
}

.links > a {
    color: rgb(255, 255, 255);
}

.links > img {
    border-radius: 50px;
}

form {
    margin-left: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 960px;
    height: 160px;
}

.links > button {
    background-color: rgb(0, 130, 182);
    border: 1px solid rgb(0, 130, 182);
    padding: 10px 25px 10px 25px;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 5px;
    border-radius: 100px;
}
.links > button:hover {
    background-color: rgb(0, 100, 139);
    transition: 0.3s;
    border-color: rgb(0, 100, 139);
    cursor: pointer;
}

button > a {
    color: rgb(255, 255, 255);
}

.text {
    text-align: center;
    padding: 359px;
    color: white;
}

.cours {
    display: flex;
    align-items: centerirection;
}

.buttons {
    width: 50%;
    border-radius: 30px;
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    padding: 10px;
    height: 550px;
}

.buttons > button {
     width: 100%;
    background-color: rgb(80, 80, 80);
    border: 1px solid rgb(81, 81, 81);
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 20px;
    color: white;
    height: 70px;
}

.buttons > button:hover {
    background-color: rgb(65, 65, 65);
    transition: 0.3s;
    border-color: gray;
    cursor: pointer;
}

.work {
    text-align: center;
}

.work > h2 {
    color: red;
}

form > button {
    color: black;
}

.statistics {
    width: 50%;
    border-radius: 30px;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 10px;
    color: white;
}

.statistics {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img > img{
    height: 50px;
    width: 50px;
}

.header > button {
    background-color: rgb(0, 130, 182);
    border: 1px solid rgb(0, 130, 182);
    padding: 10px 25px 10px 25px;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 5px;
    border-radius: 100px;
}
.header > button:hover {
    background-color: rgb(0, 100, 139);
    transition: 0.3s;
    border-color: rgb(0, 100, 139);
    cursor: pointer;
}

.header {
    text-align: center;
    padding: 50px;
}

.header > hr {
    margin: 100px;
}

iframe {
    height: 300px;
    width: 500px;
}

 .text2{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
}

.form {
    margin-bottom: 100px;
    padding: 100px;
    margin-left: 370px;
}

.text3 {
    color: black;
    text-align: center;
    padding: 40px;
}

.form > button {
    background-color: rgb(24, 24, 24);
    border: 1px solid rgb(24, 24, 24);
    padding: 5px 20px 5px 20px;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 5px;
    border-radius: 10px;
    color: white;
    margin: 10px;
}
.form > button:hover {
    background-color: rgb(0, 100, 139);
    transition: 0.3s;
    border-color: rgb(0, 100, 139);
    cursor: pointer;
}

footer {
    padding: 80px;
    background-color: rgb(24, 24, 24);
    color: white;
}

.form {
    background-image: url(abstraktnyi-dizain-fona-s-plavnye-linii.jpg);
    height: 290px;
    width: 260px;
    margin-left: 700px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}